<clr-datagrid>
    
    <clr-dg-column>hash</clr-dg-column>
    <clr-dg-column>name</clr-dg-column>
    <clr-dg-column>meaning</clr-dg-column>    

    <clr-dg-row *ngFor="let word of words">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onDelete(word.hash)" >Delete</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{word.hash}}</clr-dg-cell>
        <clr-dg-cell>{{word.name}}</clr-dg-cell>
        <clr-dg-cell>{{word.meaning}}</clr-dg-cell>

        <clr-dg-cell>
            <span class="color-square" [style.backgroundColor]="'red'"></span>
        </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer> count: {{words?.length }}</clr-dg-footer>
</clr-datagrid>
<br/>
<br/>

<style>
    .color-square {
 display:inline-block;
 vertical-align:text-bottom;
 height:.7rem;
 width:.7rem;
 border:.05rem solid #000;
 border-radius:.2rem
}
</style>