<div class="main-container">
  <header class="header header-6">
      MegaTooler 2000
  </header>
  <div class="content-container">
      <nav class="sidenav">
          <section class="sidenav-content">
              <!-- <a href="..." class="nav-link active">
                  Monitoring
              </a> -->
              <!-- <section class="nav-group collapsible">
                  <input id="tabexample1" type="checkbox">
                  <label for="tabexample1">Collapsible Nav Element</label>
                  <ul class="nav-list">
                      <li><a class="nav-link">Link 1</a></li>
                      <li><a class="nav-link">Link 2</a></li>
                  </ul>
              </section> -->
              <section class="nav-group">
                  <!-- <input id="tabexample2" type="checkbox">
                  <label for="tabexample2">Navi</label> -->
                  <ul class="nav-list">
                      <li><a routerLink="/words" routerLinkActive="active" class="nav-link">Words</a></li>
                      <li><a routerLink="/play" routerLinkActive="active" class="nav-link">Play</a></li>
                      <li><a routerLink="/info" routerLinkActive="active" class="nav-link">Info</a></li>
                      <!-- <li><a class="nav-link active">Link 3</a></li> -->
                  </ul>
              </section>
          </section>
      </nav>
      <!-- <app-word-container></app-word-container> -->
      <router-outlet></router-outlet>
  </div>
</div>

